services:
  prometheus:
    image: prom/prometheus:v2.47.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-lifecycle'
    networks:
      - bhf-kafka-network

  grafana:
    image: grafana/grafana:10.2.0
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_USERS_ALLOW_SIGN_UP: false
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - grafana-data:/var/lib/grafana
    networks:
      - bhf-kafka-network

  jmx-exporter:
    image: bitnami/jmx-exporter:0.19.0
    container_name: jmx-exporter
    ports:
      - "9404:9404"
    environment:
      JMX_EXPORTER_CONFIG_FILE: /etc/jmx-exporter/config.yml
    volumes:
      - ./jmx-exporter/config.yml:/etc/jmx-exporter/config.yml
    networks:
      - bhf-kafka-network

volumes:
  grafana-data:

networks:
  bhf-kafka-network:
    external: true
