server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/oddo-labs

  cloud:
    gateway:
      routes:
        - id: order-service
          uri: http://order-service:8082
          predicates:
            - Path=/api/orders/**

        - id: payment-service
          uri: http://payment-service:8083
          predicates:
            - Path=/api/payments/**

        - id: inventory-service
          uri: http://inventory-service:8084
          predicates:
            - Path=/api/inventory/**
