services:
  java-api:
    build:
      context: ./java
    container_name: m02-java-api
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SERVER_PORT: 8080
      KAFKA_REQUEST_TIMEOUT_MS: ${KAFKA_REQUEST_TIMEOUT_MS:-30000}
      KAFKA_DELIVERY_TIMEOUT_MS: ${KAFKA_DELIVERY_TIMEOUT_MS:-120000}
      KAFKA_RETRY_BACKOFF_MS: ${KAFKA_RETRY_BACKOFF_MS:-100}
      KAFKA_RETRIES: ${KAFKA_RETRIES:-3}
      KAFKA_LINGER_MS: ${KAFKA_LINGER_MS:-0}
      KAFKA_ACKS_PLAIN: ${KAFKA_ACKS_PLAIN:-1}
    ports:
      - "18080:8080"
    networks:
      - bhf-kafka-network

  dotnet-api:
    build:
      context: ./dotnet
    container_name: m02-dotnet-api
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      ASPNETCORE_URLS: http://0.0.0.0:8080
      KAFKA_REQUEST_TIMEOUT_MS: ${KAFKA_REQUEST_TIMEOUT_MS:-30000}
      KAFKA_DELIVERY_TIMEOUT_MS: ${KAFKA_DELIVERY_TIMEOUT_MS:-120000}
      KAFKA_RETRY_BACKOFF_MS: ${KAFKA_RETRY_BACKOFF_MS:-100}
      KAFKA_RETRIES: ${KAFKA_RETRIES:-3}
      KAFKA_LINGER_MS: ${KAFKA_LINGER_MS:-0}
    ports:
      - "18081:8080"
    networks:
      - bhf-kafka-network

networks:
  bhf-kafka-network:
    external: true
