version: "3.8"

networks:
  iam-net:
    driver: bridge

services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.5
    container_name: keycloak
    networks:
      - iam-net
    ports:
      - "18080:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command:
      - start-dev
      - --http-port=8080
      - --import-realm
    volumes:
      - ./realm:/opt/keycloak/data/import:ro
